.event-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: auto;
}

.hero {
  padding: 3em;
  margin-bottom: 0.5em;
}

.event-info {
  margin: 1em;
  text-align: center;
}

.columns-fix {
  margin: 0;
}