@import '../variables';

.event {
  border-radius: 2px;
}

.event:hover {
  cursor: pointer;
  background-color: $primary;
  color: white;
}

.highlighted {
  background-color: $primary;
  color: white;
}